asn1crypto==0.24.0
certifi==2022.12.7
cffi==1.12.3
chardet==3.0.4
cryptography==39.0.1
future==0.18.3
idna==2.8
pycparser==2.19
python-telegram-bot==11.1.0
requests==2.22.0
six==1.12.0
urllib3==1.26.5
telethon==1.9.0
